# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates
  schedule: [{cron: "0 * * * *"}]
  push: {branches: "master"}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: personal info
        uses: amorpheuz/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          user: amorpheuz
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Calcutta
          plugin_notable: yes
          config_padding: 13%
  
  work-github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: personal info
        uses: amorpheuz/metrics@latest
        with:
          filename: work.svg
          token: ${{ secrets.WORK_METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          user: yash-bitpod
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Calcutta
          config_padding: 13%
  
  star-metrics:
    runs-on: ubuntu-latest
    steps:          
      - name: website info
        uses: amorpheuz/metrics@latest
        with:
          filename: stars.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          template: classic
          base: ""
          plugin_stars: yes
          plugin_stars_limit: 5
          config_padding: 13%
  
  post-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: posts info
        uses: amorpheuz/metrics@latest
        with:
          filename: posts.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          user: amorpheuz
          template: classic
          config_timezone: Asia/Calcutta
          plugin_posts: yes
          plugin_posts_source: dev.to
  
  website-metrics:
    runs-on: ubuntu-latest
    steps:          
      - name: website info
        uses: amorpheuz/metrics@latest
        with:
          filename: website.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          template: classic
          base: ""
          plugin_pagespeed: yes
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}
          plugin_music: yes
          plugin_music_provider: spotify
          plugin_music_token: "${{ secrets.SPOTIFY_CLIENT_ID }}, ${{ secrets.SPOTIFY_CLIENT_SECRET }}, ${{ secrets.SPOTIFY_REFRESH_TOKEN }}"
          plugin_music_mode: recent
          plugin_music_limit: 3
